# Files and directories created by pub.
.dart_tool/
.packages

# Conventional directory for build output.
build/
coverage/
tool/genhtml.perl

.vscode/
*.dart1
*.dill

/benchmark/debug.txt
/tool/protocol_spec/generated/**

/bin/**
!/bin/format.dart

pubspec.lock
